name: minecraft-stats
services:
  ##########################################################################
  # Backend
  ##########################################################################
  adonis_app:
    container_name: "stats-backend-${APP_NAME}"
    image: "sportek/minecraft-stats-back:${IMAGE_TAG:-latest}"
    restart: "unless-stopped"
    ports:
      - "9000:9000"
    command: >
      sh -c "node ace migration:run --force && node ace serve"
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - APP_KEY=${APP_KEY}
      - HOST=${HOST}
      - LOG_LEVEL=${LOG_LEVEL}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_DATABASE=${DB_DATABASE}
      - DB_PASSWORD=${DB_PASSWORD}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - LIMITER_STORE=${LIMITER_STORE}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - APP_NAME=${APP_NAME}
    networks:
      - sail
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - server-images:/home/node/app/public/images

  ##########################################################################
  # Scheduler
  ##########################################################################
  adonis_scheduler:
    container_name: "stats-scheduler-${APP_NAME}"
    image: "sportek/minecraft-stats-back:${IMAGE_TAG:-latest}"
    restart: "unless-stopped"
    depends_on:
      - adonis_app
    command: "node ace scheduler:run"
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - APP_KEY=${APP_KEY}
      - HOST=${HOST}
      - LOG_LEVEL=${LOG_LEVEL}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_DATABASE=${DB_DATABASE}
      - DB_PASSWORD=${DB_PASSWORD}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - LIMITER_STORE=${LIMITER_STORE}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - APP_NAME=${APP_NAME}
    networks:
      - sail
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - server-images:/home/node/app/public/images
    healthcheck:
      test: ["CMD", "pgrep", "node"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  ##########################################################################
  # Grafana
  ##########################################################################
  grafana:
    image: grafana/grafana-enterprise
    container_name: "grafana-${APP_NAME}"
    restart: "unless-stopped"
    ports:
      - "9020:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - sail
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  ##########################################################################
  # Prometheus
  ##########################################################################
  prometheus:
    image: prom/prometheus:latest
    container_name: "prometheus-${APP_NAME}"
    restart: "unless-stopped"
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - sail
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://localhost:9090/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  ##########################################################################
  # Loki
  ##########################################################################
  loki:
    image: grafana/loki:3.3.2
    container_name: "loki-${APP_NAME}"
    restart: "unless-stopped"
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - "./loki-config.yaml:/etc/loki/local-config.yaml"
      - "loki-data:/loki"
    networks:
      - sail
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test:
        ["CMD-SHELL", "wget --spider -q http://localhost:3100/ready || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  ##########################################################################
  # Promtail
  ##########################################################################
  promtail:
    image: grafana/promtail:3.3.2
    container_name: "promtail-${APP_NAME}"
    restart: "unless-stopped"
    command: -config.file=/etc/promtail/config.yml -config.expand-env=true
    volumes:
      - "./promtail-config.yaml:/etc/promtail/config.yml"
      - promtail-data:/var/log
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - sail
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  ##########################################################################
  # Redis
  ##########################################################################
  redis:
    image: redis:7.4.1-alpine
    container_name: "redis-${APP_NAME}"
    restart: "unless-stopped"
    ports:
      - "6379:6379"
    # Commande pour activer l'append-only et définir un mot de passe
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--requirepass",
        "${REDIS_PASSWORD}",
      ]
    environment:
      # Par exemple, pour distinguer la config
      REDIS_REPLICATION_MODE: standalone
    networks:
      - sail
    volumes:
      - redis-data:/data
    healthcheck:
      # Vérifie si Redis répond à la commande 'PING'
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  sail:
    external: true
    name: dokploy-network

volumes:
  sailpgsql:
    name: "stats-pgsql-${APP_NAME}"
  server-images:
    name: "stats-images-${APP_NAME}"
    driver: local
  loki-data:
    name: "loki-data-${APP_NAME}"
  promtail-data:
    name: "promtail-data-${APP_NAME}"
  redis-data:
    name: "redis-data-${APP_NAME}"
  grafana-storage: {}
