name: Deploy Minecraft-Stats Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install SSH
        run: sudo apt-get install openssh-client

      - name: Update repository on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/minecraft-stats/website/backend
            git pull origin main
      - name: Create .env.production file with secrets
        uses: SpicyPizza/create-envfile@v2.0
        with:
          envkey_APP_NAME: ${{ secrets.APP_NAME }}
          envkey_PORT: ${{ secrets.PORT }}
          envkey_APP_KEY: ${{ secrets.APP_KEY }}
          envkey_NODE_ENV: development
          envkey_DB_HOST: pgsql
          envkey_DB_PORT: 5432
          envkey_DB_USER: ${{ secrets.DB_USER }}
          envkey_DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          envkey_DB_DATABASE: ${{ secrets.DB_DATABASE }}
          envkey_RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          envkey_WEBSITE_URL: ${{ secrets.WEBSITE_URL }}
          envkey_JWT_SECRET: ${{ secrets.JWT_SECRET }}
          envkey_DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
          envkey_DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
          envkey_GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          envkey_GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          file_name: .env.production

      - name: Use SSH to connect to server and run Docker Compose commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/minecraft-stats/website/backend
            docker compose --env-file .env.production build
            docker compose --env-file .env.production up -d
